/* Impostazioni di base */
body {
    font-family: 'Arial', sans-serif;
	background: url('../images/welcome.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #5a5a5a;
    background-color: #ffb6c1; /* Sfondo rosa */
}

/* Stile per il contenitore principale */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Trasparenza per vedere lo sfondo */
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titolo */
.container h2 {
    color: #cc0000;
    font-size: 2.5em;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #333;
}

/* Paragrafo di benvenuto */
.container p {
    font-size: 1.2em;
    color: #5a5a5a;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Stile per i bottoni */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button, .profile-button, .preference-button, .photo-button {
    padding: 15px 25px;
    background-color: #cc3366;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover, .profile-button:hover, .preference-button:hover, .photo-button:hover {
    background-color: #b30047;
    transform: scale(1.05);
}

.button i, .profile-button i, .preference-button i, .photo-button i {
    font-size: 2em;
    margin-bottom: 5px;
    color: #ffffff;
}

.button-text {
    margin-top: 5px;
}

/* Stile per il bottone del profilo */
.profile-button, .photo-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Stile per il bottone della preferenza */
.preference-button .star-icon {
    font-size: 2em;
    display: block;
    color: #fff;
}

.preference-button .button-text {
    margin-top: 5px;
}

/* Stile per il bottone delle foto */
.photo-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-button i {
    font-size: 2em;
    margin-bottom: 5px;
    color: #ff99cc; /* Icona rosa */
}
